 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <!-- <i class="devicon-javascript-plain"></i> -->
      <i class="devicon-css3-plain-wordmark"></i>
      <p>Designing websites are bread and butter, HTML5-JS-CSS3 are used in client facing applications.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-devicon-linux-plain colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-bash-plain"></i>
      <p>Linux, Python, and Bash build the foundation for any backend whether it be organizing files and users or parsing JSON.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-pandas-original-wordmark"></i>
      <i class="devicon-nginx-plain-wordmark"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <p>Pandas, Nginx, and AWS build on the foundations of IAC and not only create an environment to deploy code but also analyze it.</p>
    </div>
</div>
